@import url(../css/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Heebo";
  font-weight: 400;
  color: #a2a2a2;
  overflow-x: hidden;
}
:root {
  --blue: #13a1b1;
  --yellow: #fab925;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.textYellow {
  color: var(--yellow);
}
.textBlue {
  color: var(--blue);
}
.webBtn {
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
}
.webBtnBlue, .webBtnYellow:hover {
  background-color: var(--blue);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.webBtnYellow, .webBtnBlue:hover, .transperentBtn:hover {
  background-color: var(--yellow);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.headingIcon {
  width: 3.5rem;
  height: 3.5rem;
}
.sectionPadding {
  padding-top: 6.5rem;
}
.sectionHead p {
  font-size: 1.3rem;
} 
.sectionHead h2 {
  font-size: 2.2rem;
}

/* *********** Background Shapes ************ */
.shapOne::before, .shapOne::after, .ServiceShape::before, .testimonial::before {
  content: '';
  position: absolute;
  z-index: -1;
}
.shapOne::before {
  background: url(../img/shapeOne.png) no-repeat;
  left: -7rem;
  right: 0;
  top: -13.5rem;
  bottom: 0;
  background-size: 30rem;
}
.shapOne::after {
  background: url(../img/shapeTwo.png) right no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: -35rem;
  background-size: 30rem;
}
.ServiceShape::before {
  background: url(../img/shapeOne.png) left top no-repeat;
  background-size: 11.5rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.testimonial::before {
  background: url(../img/shapeThree.png) right center no-repeat;
  background-size: 30rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* *********** Navbar ************ */
.logo {
  width: 40%;
}
.hoverLine {
  color: var(--blue);
}
.hoverLine:hover {
  background-color: var(--yellow);
  color: white;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.hoverLine::before{
  content: '';
  height: 2px;
  background-color: white;
  left: 1rem;
  right: 100%;
  bottom: 0.6rem;
  position: absolute;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.hoverLine:hover::before {
  right: 45%;
}
.menu .navbar-toggler-icon {
  background-image: none;
}
.menu .navbar-toggler {
  line-height: 3rem;
}
.menu .navbar-toggler:focus {
  box-shadow: none;
}
.menu .iconBar {
  background: var(--yellow);
  width: 1.5rem;
  height: 0.1rem;
  display: block;
}
.menu .navbar button.nav-link {
  font-size: 14px;
}
.navbar-collapse.show {
  background: rgba(114, 200, 210, 0.12);
}
.menu i.fa-solid.fa-bars {
  color: var(--yellow);
}
.menu .navbar button.nav-link {
  margin-top: .5rem;
}

/* *********** Banner ************ */
.bannerForm p {
  font-size: 18px;
  line-height: 1.8rem;
  letter-spacing: .3px;
}
.bannerImg {
  width: 90%;
}

/* *********** Form ************ */
.formBody {
  background: rgba(114, 200, 210, 0.12);
}
.formBody input {
  border: 1px solid rgba(208, 208, 208, 0.68);
}
.formBody input, .formBody input::-webkit-input-placeholder, .formBody form select, .contact .form-control, .contact .form-select, .contact textarea {
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f8ba4;
  line-height: 28px;
  border-radius: 0;
}
.formBody input:focus, .formBody form select:focus, .formBody input:focus-visible {
  border: 1px solid #c2c2c2;
  box-shadow: none;
  outline: none;
}
button:focus-visible, button:focus, button {
  outline: none;
}

/* *********** Service Section ************ */

.transperentBtn {
  border: 1px solid var(--blue);
  color: var(--blue);
  background: #f6fcfd;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .3px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.transperentBtn:hover {
  border-color: var(--yellow);
  color: #fff;
}
.serviceContent img {
  width: 2.9rem;
  height: 2.5rem;
}
.serviceContent .serviceIcon {
  width: 2.4rem;
}
.serviceContent h5 {
  font-size: 1.1rem;
}
.serviceBox {
  border: 1px solid rgb(111 139 164 / 18%);
  padding: 2.5rem 2rem;
}
.serviceContent {
  height: 17rem;
}

/* *********** Why Us Section ************ */

.whyUs {
  background: #f1fbfd;
}
.whyUsContent img {
  width: 3rem;
  height: 2.9rem;
}

/* *********** Hosting Package Section ************ */

.packageHead {
  background: var(--blue);
  height: 7.3rem;
}
.packageHead h3 {
  padding-top: 4.3rem;
}
.packageIcon {
  position: absolute;
  top:-1.7rem;
  left: 0;
  right: 0;
}
.odd {
  background: #faf9f9;
}
.even {
  background: #f0f0f0;
}
.plan p {
  font-size: 14px;
  color: #6a7483;
  line-height: 1.6rem;
  font-weight: 300;
}
.plan p b {
  font-weight: 700;
}
.packagePrice button {
  font-size: 12px;
  letter-spacing: .5px;
}
.packagePrice h5 small {
  font-size: 12px;
  color: var(--blue);
  line-height: 3rem;
}
.packageBox {
  border: 1px solid #f3f3f3;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.packageBox:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.packageBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--blue);
  transform: scale(0,1);
  -webkit-transform: scale(0,1);
  transform-origin: center;
  -webkit-transform-origin: center;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.packageBox:hover::after {
  transform: scale(1,1);
  -webkit-transform: scale(1,1);
}

/* *********** Portfolio Section ************ */

.counter h1 {
  font-weight: 500;
  font-size: 3rem;
}
.counter p {
  font-weight: 500;
}
.carousel .control-dots {
  bottom: -2.7rem;
}
.carousel .control-dots .dot, .slick-dots li button:before {
  border: 2px solid #ffcd00;
  width: 12px;
  height: 12px;
  box-shadow: none;
  background: transparent;
  opacity: 1;
  margin: 0 6px;
  border-radius: 50%;
}
.carousel .control-dots .dot.selected, .slick-dots li.slick-active button:before {
  background: var(--yellow);
}
.carousel.carousel-slider {
  overflow: visible;
}

/* *********** Testimonial Section ************ */

.testimonial {
  padding-bottom: 6.5rem;
  background: rgb(232 247 250 / 45%);
}
.avtar p {
  font-size: 18px;
  font-weight: 500;
}
.avtar img {
  width: 4.5rem;
  height: 4.5rem;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: transparent;
}
.slick-dots li button {
  width: initial;
  height: initial;
}
.slick-dots {
  text-align: left;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 3px;
}

/* *********** Contact Us Section ************ */
.contact {
  padding-bottom: 7rem;
}
.shapeFour img {
  position: absolute;
  top: -3rem;
  z-index: -1;
}
.contact .sectionHead p {
  font-size: 1.4rem;
}
.contact .form-control:focus, .contact .form-select:focus {
  box-shadow: none;
  background: white;
}
.contact .form-control, .contact .form-select, .contact textarea {
  background: rgb(232 247 250 / 45%);
  line-height: 2rem;
  border: 1px solid rgb(225 230 234 / 50%);
}
.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #6f8ba4;
}
.contact textarea {
  resize: none;
}

/* *********** Footer Section ************ */
.footer {
  background: #f1fbfd;
}
.footer p, .footer ul li a {
  font-size: 15px;
  color: #4c9292;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.footer ul li:hover a {
  color: var(--yellow);
}
.fLogo {
  width: 75%;
}